# Байт-код Python
__pycache__/
*.pyc

# Файлы IDE
.idea/
.vscode/

# Виртуальное окружение
venv/
env/

# Файлы окружения
.env

# Docker
docker-compose.override.yml

# Медиа файлы
media/

generator.py
.prettierrc
.flake8
pyproject.toml

# Базы данных
db.sqlite3
practice_commits.md
notes.txt
